@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* Main Settings */
:root {
	--btn-hover-color: #ff4136;
	--title-color: #ff4136;
	--text-color: #001f3f;
	--pragraph-color: #9e9e9e;
  --white-color: #fff;
}
html {
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  outline: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--title-color);
}

/* End Main Setting */

/* Components */
.container {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}
/* Correction */
/* Mobile */
@media (max-width: 767px) {
	.container {
		max-width: 760px;
	}
}

/* Small Screens */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
/* Meduim  Screens*/
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
/* Large Screens */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
/* Xtra Lagre Screens */
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.heading {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.heading h1 {
	width: fit-content;
	margin: 0 auto;
	position: relative;
	font-size: 40px;
}
@media (max-width: 767px) {
	.heading h1 {
		font-size: 30px;
	}
}
.heading h1::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30%;
	height: 3px;
	background-color: var(--title-color);
}
.heading h1::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
	height: 3px;
	background-color: var(--title-color);
}
/* End Components */

/* -------------------------------- Start My Styles -----------------------------*/

body {
	color: var(--text-color);
	background-color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}

body div.bg-image
{
  width: 100%;
  height: 100vh;
  background-image: url('../images/home-bg-image.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}
@media (max-width: 767px) {

  body div.bg-image {
    height: 90vh;

  }
}

body div.bg-image::before
{
    /* Create an overlay with a transparent black color */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 31 63 / 80%);
}

.title {
  color: var(--text-color);
  font-size: 20px;
  position: relative;
  margin: 0px 40px;
  padding: 50px 0;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
}

.title::before {
  position: absolute;
  bottom: 45px;
  left: 0;
  content: "";
  background-color: var(--btn-hover-color);
  width: 50%;
  height: 2px;
}
.title::after {
  position: absolute;
  top: 45px;
  right: 0;
  content: "";
  background-color: var(--white-color);
  width: 50%;
  height: 2px;
}
/* ========== Start Header ======== */
header {
	background-color: #fff;
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  position: absolute;
  width: 100%;
  height: fit-content;
  z-index: 100000;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 4;
}

header .logo{	
	flex: 1;
  padding: 20px;
}
header .logo img{	
	width: 150px;
  display: block;
}

header .menu-toggle {
	display: none;
	cursor: pointer;
}

header .menu-toggle i {
	color: var(--text-color);
	font-size: 25px;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
header nav ul li:not(:last-child) {
	margin-right: 50px;
}
header nav ul li a {
	color: var(--text-color);
	font-size: 18px;
	position: relative;
  display: block;
	transition: 0.3s;

}
header nav ul li a.active {
	color: var(--btn-hover-color);
}
header nav ul li a:hover {
	color: var(--btn-hover-color);
}

header nav ul li a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 20px;
	left: 0;
	background-color: var(--btn-hover-color);
	transition: 0.3s;
}
header nav ul li a:hover::before {
	width: 100%;
}

@media (max-width: 1200px) {
	header .menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		left: -100%;
    top: 76.3px;
		padding: 30px;
		width: 100%;
		height: calc(100vh - 96px);
		background-color: #fff;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		z-index: 9999;
		visibility: hidden;
		transition: 0.1s ease-in;
	}
	header nav.show {
		visibility: visible;
    left: 0;
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100vh;
	}
	header nav ul {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}
	header nav ul li:not(:last-child) {
		margin-right: 0;
	}
	header nav .navigation,
	header nav .btn {
		width: 100%;
		text-align: center;
	}
	header nav .btn .btn-bg {
		display: block;
		width: 100%;
		padding: 0;
	}
}

/* ========== End Header ======== */

/* ========== Start Home ======== */
section.home
{ 
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

}
section.home .container h1
{
  font-size: 60px;
  font-weight: bold;
  color: var(--title-color);
  width: 100%;
  margin-bottom: 30px;
}

section.home .container h1 span
{
  color: var(--white-color);
}

section.home .container ul
{
  color: var(--white-color);
  font-size: 25px;
  font-weight: light;
}

section.home .container ul li
{
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}


section.home .container ul li i
{
  margin-right: 20px;
  margin-top: 5px;
}

section.home .center .btn {
  margin: 10px;
  margin-top: 50px;
}
@media (max-width: 767px) {

  section.home .center {
    text-align: center;
  }
  section.home .container ul li
  {
    display: block;
  }

  section.home .container ul li i
  {
    margin-right: 10px;
  }
}
.plan-btn
{
  padding: 15px 30px;
  background-color: var(--title-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: bold;
}

.plan-btn:hover
{
  background-color: #c40b02;
}
.plan-btn i
{
  margin-left: 10px;
}
.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: lighter;
  animation-name: move-up-down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes move-up-down {
	0% {
		bottom: 25px;
	}
	100% {
		bottom: 5px;
	}
}

.scroll-down a{
  color: var(--white-color);
  padding: 10px;
}

@media (max-width: 1200px) {
  section.home .container h1 {
    height: 40%;
  }
  section.home .container h1 {
    font-size: 35px;
    margin-bottom: 20px;
    
  }
  section.home .container ul
  {
    font-size: 18px;
  }

  section.home .center .btn {
    margin: 0px;
    margin-top: 35px;
  }
}
/*740*/

@media (max-width: 740px) {
  section.home .container h1 {
    font-size: 30px;
  }
  section.home .container ul
  {
    font-size: 16px;
  }

  section.home .center .btn {
    margin: 0px;
    margin-top: 35px;
  }

  section.home {
    left: 50%;
    width: 100%;
  }
}
/* ========== End Home ======== */

section.devices {
  background-color: #001f3f;
}
section.devices .container.flex {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}

section.devices .device{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  background: #013569;
    padding: 20px;
    border-radius: 5px;
    color: #ff4136;
}

section.devices .device h5 {
  margin-top: 10px;
}
/* ========== Start Why-Us ======== */
section#about {
  width: 100%;
  background-color: var(--text-color);
  color: var(--white-color);
}
section#about .container .about-title{
  color: var(--white-color);
}

section#about .container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
section#about .container .flex .left {
  width: 50%;
}

section#about .container .flex .left h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

section#about .container .flex .left h2 span{
  color: var(--btn-hover-color);
}
section#about .container .flex .left ul li{
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
section#about .container .flex .left ul li i{
  color: var(--btn-hover-color);
  text-align: center;
  font-size: 15px;
}

section#about .container .flex .right {
  width: 50%;
}

section#about .container .flex .right img {
  width: 100%;
}

/*1023*/

@media (max-width: 1023px) {
  section#about .container .flex .left {
    width: 100%;
  }
  section#about .container .flex .right {
    display: none;
  }
}
/*495*/
@media (max-width: 495px) {
  section#about .container .flex .left h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  section#about .container .flex .left ul li{
    margin: 10px 0;
    font-size: 16px;
  }
  section#about .container .flex .left ul li i{
    font-size: 11px;
  }
 
}


/* ========== End Why-Us ======== */


/* ========== End Plans ======== */
section#plans h1::after {
  background-color: var(--text-color);
  height: 3px;
}

section#plans h1::before {
  height: 2.6px;
}

section#plans .plans-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  gap: 30px;
}

section#plans .column {
  flex: 1;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

section#plans .column:hover {
  transform: scale(1.05);
}

section#plans .plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  background-color: var(--text-color);
  color: #fff;
  padding: 50px;
  border-radius: 8px 8px 50% 0;

}

section#plans .plan-title span {
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: var(--btn-hover-color);
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
section#plans .plan-title span::after 
{
  content: "$";
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: -2px;
  color: var(--btn-hover-color);

}
section#plans .features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section#plans .features li {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  font-weight: 500;
}

section#plans .features li i {
  color: #c40b02;
}


section#plans .button {
  display: inline-block;
  padding: 20px;
  background-color: var(--text-color);
  color: white;
  text-decoration: none;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

section#plans .button:hover {
  background-color: #013569;
}

/* ========== End Planes ======== */
footer {
  background-color: var(--white-color);
  position: relative;
}
footer .left img[data="footer-logo"] {
  width: 150px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  padding: 30px;
}


footer .container .left,
footer .container .center,
footer .container .right {
  min-width: 300px;
}

footer .container .center img{
  width: 60px;
}

footer .container .center img {
  margin: 0px 10px;
}

footer .container h3.support-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
 }

 footer .container h4 {
  margin-bottom: 10px;
 }

 @media (max-width: 1000px) {

  footer .container {
    flex-wrap: wrap;
    display: block;
    text-align: center;
    min-height: 300px;
  }
  footer .container .center img {
    width: 50px;
  }

  footer .left img[src="logo-black.png"] {
    display: none;
  }

  footer .container .center {
    padding: 30px 0;
  }
  footer .container .center img {
    margin: 0px 0px;
  }
 }

 
.copyright {
  text-align: center;
  padding: 20px;
  background-color: var(--text-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.5;
}
.copyright p i {
  color: #ea433b;
  font-size: 16px;
}

@media (max-width: 600px) {
.copyright {
  padding: 10px;
  font-size: 16px;
 }
 .copyright p i {
  font-size: 14px;
 }

 footer .container {
  padding: 30px 10px;
  }
  footer .left img[data="footer-logo"] {
    width: 100px;
  }

  footer .container .center img {
    width: 30px;
  }

  footer .container .left, footer .container .center, footer .container .right {
    min-width: 0;
  }

}

@media (max-width: 320px)
{
  section#plans .column {
    min-width: 300px;
  }
} 

@media (max-height: 650px) {
  .scroll i{
    display: none;
  }
}

button {
  cursor: pointer;
}

.plan-a {
  color: #001f3f;
}